@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karla:wght@400;700&display=swap');

.App {
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;

}

.start-screen{
  z-index: 99;
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F7FB;
}

.start-screen-logo{
  font-family: 'Karla';
  font-size: 3em;
}

.start-button{
  font-family: 'Inter';
  font-size: 1.5em;
  width: 280px;
  height: 90px;
  margin: 90px;
  border-radius: 20px;
  background-color: #4D5B9E;
  color: white;
  cursor: pointer;
}

.start-button:active{
    background-color: #3a4b9c;
}


.trivia-section{
  display: flex;
  flex-direction: column;
}

.trivia-question{
  font-family: 'Karla';
  font-weight: bold;
  font-size: 1.5em;
  margin-top: .5em;
  margin-bottom: .5em;
}

.trivia-answers-section{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  gap: 2em;
  margin-top: .5em;
  margin-bottom: .5em
}

.trivia-answer{
    padding: .5em 1em;
    min-width: 100px;
    height: auto;
    border: 1px solid #4D5B9E;
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: clamp(12px, 1.5vw, 32px);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #293264;
    cursor: pointer;
}

hr{
  border: 0;
  height: 1px;
  background: #DBDEF0;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.check-answer-button{
  background-color: #4D5B9E;
  color: white;
  border-radius: 20px;
  font-family: 'Inter';
  padding: 1em 2em;
  width: 220px;
  margin: auto;
  font-size: 1em;
  font-weight: bold;
}

.quiz-results{
  padding-top: 15px;
  margin: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: clamp(12px, 1.5vw, 32px);
}